@model ControlInventario.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}
    <body class="fixed-bottom">
        <div class="masthead">
            <div class="masthead-content space">
                <div class="container">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Crea una cuenta para acceder</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-4">Correo Electrónico</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Contraseña</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Confirmar Password</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-outline-dark" value="Registrar" />
                                <a href="@Url.Action("Index","Home")" class="btn btn-outline-danger">Cancelar</a>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </body>